body {
    background-color: rgba(251, 244, 241, 1);
    padding: 60px 60px 0 60px;
}

header {
    background-color: rgb(0, 0, 0, 0.1);
    font-family: "poppins";
    padding: 0;
    margin-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements */
    display: flex;
    flex-direction: row;
}

.back-btn {
    color: white;
    font-size: 30px;
    align-items: center;
    padding: 0;
    width: 80px;
    height: 40px;
    background-color: rgba(229, 131, 106, 1);
    border: none;
    margin-right: 10px;
    border-radius: 39px;
}


.back-btn:hover {
    background-color: rgb(223, 113, 85); /* Change background on hover */
    color: #f7f7f7; /* Change text color on hover */
    transform: scale(1.05); /* Slightly enlarge the button on hover */
}

.back-btn:active {
    background-color: #222; /* Darker background on click */
    color: #ffcc00; /* Bright text color on click */
    transform: scale(0.95); /* Slightly shrink button on click */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset; /* Add inset shadow for pressed effect */
}


.company-name {
    color: #000000;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.2rem;
}

.logo {
    display: flex;
    flex: 2;
    padding-left: 60px;
    align-items: center;
}

.logo img {
    height: 45px;
    margin-right: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
}

nav ul {
    list-style-type: none; /* Remove the default bullet points */
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style-type: none; /* Remove the default bullet points */
    margin-right: 20px; /* Add space between navigation items */
    font-size: 18px;
}

nav ul li:last-child {
    list-style-type: none; /* Remove the default bullet points */
    margin-right: 0; /* Remove margin for the last navigation item */
}

nav ul li a {
    color: rgba(70, 72, 112, 1);
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #d9bf15; /* Lighter text color on hover */
}




.head h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
} */

.rating {
    font-size: 1.2em;
    color: #ff9800;
}



.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 350px;
    margin: 15px 0;
    border-radius: 15px;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    height: 356px;
    object-fit: cover;
    flex-shrink: 0;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



.info-section {
    /* margin: 20px 0; */
    font-weight: 300;
    font-size: 18px;
    color: #171414;
    line-height: 2.0;
}

.info-section p {
    margin: 5px 0;
}

.info-section strong {
    color: #000000;
} 

.overview {
    line-height: 1.8;
    color: #100f0f;
    font-weight: 500;
    font-size: 18px;
}

.overview h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #0e0d0d;
}