body {
    background-image: url("../image/back.png");
}

.wc-btn {
    background-color: #00cbfe; /* Button background color */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: #1d1c1c; /* Button text color */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    position: absolute;
    left: 5px;
    top: 10px;
}

#captureButton {
    background-color: #00cbfe; /* Button background color */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: #1d1c1c; /* Button text color */
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 10px;
    left: 170px;
}
