{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Leaflet Satellite View</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <style>
        #map {
            height: 100vh; /* Full height */
            width: 100%; /* Full width */
        }
    </style>
</head>
<body>
    <h1>Satellite View Map</h1>
    <div id="map"></div>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        // Initialize the map
        var map = L.map('map').setView([11.2588, 75.7804], 10); // Centered on Kozhikode
        
        // Add Esri World Imagery (Satellite tiles)
        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri — Source: Esri, Maxar, Earthstar Geographics, and the GIS User Community',
        }).addTo(map);

        console.log('{{ places|safe }}');
        //place data from the server
        var places = JSON.parse('{{ places|safe }}');

        //add markers
        places.forEach(function(place){
            L.marker([place.lat , place.lng])
            .addTo(map)
            .bindPopup(`<b>${place.name}</b><br><a href = "${place.link}">More Details</a>`)
        });

    </script>
</body>
</html>
